body {
    background-color: #f6eec9;

}
h1 {
    color:#734046;
    font-variant: small-caps;
}
h3 {
    color: #734046;
}
h2 {
    color:#734046;
}
hr {
    border-style: none;
    border-style: dotted none none;

    border-color: #799351;
    border-width: 5px;
    width: 5%;

}
.photo{
    border-radius: 10cm;
}
.font{
    font-variant: small-caps;
}